* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  background-color: #ec715f;
  height: 70px;
}

.navbar {
  width: 1024px;
  margin: 0 auto;
  display: flex;
}

.logo-box img {
  height: 70px;
}

nav {
  width: 100%;
}

.global-nav {
  display: flex;
  line-height: 70px;
  list-style: none;
  font-size: 16px;
  justify-content: flex-end;
}

.global-nav li {
  margin: auto 30px;
}

.global-nav a {
  text-decoration: none;
  color: #fafafa;
}

#main-visual {
  height: 650px;
  background-image: url(./img/mv.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 200px;
  color: #fafafa;
  text-align: center;
}

#main-visual h1 {
  font-size: 64px;
}

#main-visual p {
  font-size: 20px;
  margin-top: 10px;
}

#portfolio {
  background-color: #eceff1;
  width: 100%;
}

.portfolio-content {
  width: 920px;
  margin: 0 auto;
  padding: 90px 0;
  text-align: center;
  color: #000000;
}

.portfolio-content h2 {
  font-size: 32px;
}

.underline {
  width: 70px;
  height: 3px;
  background-color: #ec715f;
  margin: 8px auto 0 auto;
}

.portfolio-content p {
  font-size: 16px;
  margin: 30px auto;
}

.img-box ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.img-box li {
  width: 300px;
  height: 250px;
  margin: 0 10px 10px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.img-box li:nth-child(1) {
  background-image: url(./img/sketch.jpg);
}

.img-box li:nth-child(2) {
  background-image: url(./img/websuku.png);
}

.img-box li:nth-child(3) {
  background-image: url(./img/write.jpg);
  margin-right: 0;
}

.img-box li:nth-child(4) {
  background-image: url(./img/webcamp.png);
  margin-bottom: 0;
}

.img-box li:nth-child(5) {
  background-image: url(./img/talk.jpg);
  margin-bottom: 0;
}

.img-box li:nth-child(6) {
  background-image: url(./img/webcamp-mother.png);
  margin: 0;
}
