* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ヘッダー */

header {
  width: 100%;
  background-color: #ec715f;
  height: 70px;
}

.navbar {
  width: 1024px;
  margin: 0 auto;
  display: flex;
}

.logo-box img {
  height: 70px;
}

nav {
  width: 100%;
}

.global-nav {
  display: flex;
  line-height: 70px;
  list-style: none;
  font-size: 16px;
  justify-content: flex-end;
}

.global-nav li {
  margin: auto 30px;
}

.global-nav a {
  text-decoration: none;
  color: #fafafa;
}

/* メインビジュアル */

#main-visual {
  height: 650px;
  background-image: url(./img/mv.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 200px;
  text-align: center;
}

#main-visual h1 {
  font-size: 64px;
  color: #fafafa;
}

#main-visual p {
  font-size: 20px;
  color: #fafafa;
  margin-top: 10px;
}

/* 共通箇所 */

.text {
  text-align: center;
  margin: 30px auto;
}

.underline {
  width: 70px;
  height: 3px;
  background-color: #ec715f;
  margin: 8px auto 0 auto;
}

#portfolio,
#feature,
#profile,
#contact {
  width: 100%;
  padding: 90px 0;
}

p {
  font-size: 16px;
}

h2 {
  text-align: center;
  font-size: 32px;
}

h3 {
  font-size: 20px;
}

h2,
h3,
p {
  color: #000000;
}

#portfolio,
#profile {
  background-color: #eceff1;
}

.content {
  margin: 0 auto;
}

/* Portfolio */

.portfolio-content {
  width: 920px;
}

.img-box ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.img-box li {
  width: 300px;
  height: 250px;
  margin: 0 10px 10px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.img-box li:nth-child(1) {
  background-image: url(./img/sketch.jpg);
}

.img-box li:nth-child(2) {
  background-image: url(./img/websuku.png);
}

.img-box li:nth-child(3) {
  background-image: url(./img/write.jpg);
  margin-right: 0;
}

.img-box li:nth-child(4) {
  background-image: url(./img/webcamp.png);
  margin-bottom: 0;
}

.img-box li:nth-child(5) {
  background-image: url(./img/talk.jpg);
  margin-bottom: 0;
}

.img-box li:nth-child(6) {
  background-image: url(./img/webcamp-mother.png);
  margin: 0;
}

/* Feature */

.feature-content {
  width: 980px;
}

.feature-box {
  display: flex;
}

.feature-section {
  width: 320px;
  margin-right: 10px;
}

.feature-section h3 {
  margin: 10px 0;
  text-align: center;
}

.feature-section:nth-child(3) {
  margin-right: 0;
}

.feature-section i {
  font-size: 60px;
  display: flex;
  justify-content: center;
}

/* Profile */

.profile-content {
  width: 1024px;
}

.profile-box {
  display: flex;
}

.profile-img-box {
  width: 512px;
  text-align: center;
}

.profile-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.profile-text {
  width: 512px;
}

.profile-text h3 {
  margin-bottom: 5px;
}

.skills {
  margin-top: 20px;
}

/* Contact */

.contact-content {
  width: 800px;
}

.contact-box {
  display: flex;
}

.contact-box h3 {
  margin-bottom: 5px;
}

.tel {
  margin-top: 20px;
}

.contact-box p {
  text-decoration: underline;
}

.contact-info,
.sns-list {
  margin: 0 auto;
}

.sns-list ul {
  display: flex;
  list-style: none;
}

.sns-list li {
  font-size: 50px;
}

.sns-list li:nth-child(2) {
  margin: 0 20px;
}
